<!DOCTYPE html>
<html>
<head>
  <title>Butterfly Poll Exercise</title>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<body>

  <div id="main">
    <div id="header" class="nav nav-center">
      <a href="https://support.butterfly.ai/">
	      <div class="btn nav-btn btn-notice pull-left">
          <svg width="24px" height="19px" viewBox="0 0 24 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Header" transform="translate(-13.000000, -16.000000)" fill="#FFFFFF">
                <path d="M32.6119609,16.9895649 C32.0531234,16.9895649 31.5437508,17.1119863 31.1304956,17.2610428 C29.1499146,17.9753886 27.411695,19.9998098 26.7019813,22.4184612 C26.3828583,23.5065234 26.1227954,25.3646829 26.0369349,27.2246622 C27.6155102,27.1062112 29.1275809,26.7983377 30.3496451,26.3010418 C30.0171219,25.2789879 29.2124488,24.3816716 28.0568893,23.8324292 C27.8093994,23.7148054 27.7040176,23.4186777 27.8216415,23.1710224 C27.9392654,22.9235325 28.2352276,22.8181507 28.4830484,22.9357746 C29.8523492,23.5865937 30.820306,24.6466975 31.2557294,25.8687617 C33.5365739,24.6174156 35.8637401,22.1894999 36.0012161,20.0678033 C36.0649084,19.0842956 35.620386,18.2640717 34.6798913,17.6302924 C33.9728245,17.1536758 33.2591404,16.9895649 32.6119609,16.9895649 M19.2643801,26.4836814 C20.5248251,26.9291964 22.0550936,27.1879358 23.6316837,27.2597343 C23.6199378,25.5827255 23.4788223,23.7892509 23.2176013,22.2303622 C22.7892916,19.6748966 20.5843815,17.9065679 18.5894077,17.2875123 C16.9676539,16.7842607 15.5199372,16.9799697 14.7172494,17.8116086 C13.9388804,18.6177705 13.9273,19.7020278 14.0548499,20.4694781 C14.4100376,22.6087108 16.2031814,25.0040359 18.2262791,26.0416406 C18.2653216,26.0616582 18.3048604,26.0813449 18.3447301,26.1008662 C18.7634447,24.742484 19.7572093,23.6320881 21.2189879,22.9591009 C21.4679668,22.8447857 21.7627709,22.9536415 21.8772515,23.2024549 C21.9918976,23.4515992 21.8828763,23.7462379 21.6340629,23.860884 C20.3969443,24.4304747 19.5828414,25.3473123 19.2643801,26.4836814 M19.1151583,27.4820782 C19.1077137,27.7277484 19.1204522,27.9806976 19.1535391,28.2397679 C19.4572767,30.6081272 20.7522974,32.6659661 21.7712081,33.101555 C22.0835483,33.235226 22.3421223,33.2135541 22.5854763,33.0342232 C23.2270311,32.561577 23.5636901,30.6079618 23.6229157,28.2571385 C22.0132387,28.1861672 20.445582,27.9275931 19.1151583,27.4820782 M26.0079839,28.2262023 C25.9864774,30.2484728 26.2010458,32.104978 26.8047161,32.7693626 C27.3208715,33.3366373 27.6552145,33.2517694 27.7652284,33.2236456 C28.7697463,32.9670568 29.8619444,30.4951355 30.4217745,28.1860017 C30.4934076,27.890205 30.5253364,27.5937465 30.5195462,27.301093 C29.2093055,27.8026902 27.6366858,28.1112254 26.0079839,28.2262023 M27.6108781,34.2359389 C27.178267,34.2359389 26.6364693,34.0595858 26.0703526,33.4368906 C25.260882,32.5466879 24.9894041,30.4655228 25.0057821,28.2723585 C24.8752543,28.2753363 24.7450574,28.2769907 24.6145296,28.2773215 C24.5653956,30.7384896 24.2039214,33.0745892 23.1742575,33.8332715 C22.6494995,34.2200572 22.0127423,34.2844112 21.3807828,34.0142567 C19.9049423,33.3829589 18.4942829,30.9021042 18.1690388,28.3661598 C18.1134528,27.9323907 18.1063391,27.5105329 18.1455471,27.1040605 C18.0181626,27.0464894 17.8937559,26.9867675 17.7733196,26.9247296 C15.4969418,25.7574243 13.4774837,23.052075 13.0754781,20.6321002 C12.8392377,19.2090332 13.1600151,17.9954062 14.0032344,17.1220778 C15.0717754,16.0153215 16.8961863,15.7229989 18.8837155,16.3394076 C21.0017725,16.9966785 23.6642743,18.8909028 24.1964768,22.0662513 C24.3832523,23.1801213 24.5941812,25.2052041 24.6185001,27.2800828 C24.7564724,27.2795865 24.8944447,27.2776013 25.0320861,27.2742926 C25.1227442,25.2328317 25.4281362,23.2347146 25.7495753,22.1390424 C26.557557,19.3850554 28.4904929,17.1581426 30.7936711,16.3271654 C32.3603351,15.7623723 33.9372561,15.9329352 35.2347584,16.8070907 C36.4710499,17.6403839 37.0786906,18.7901532 36.9918375,20.1319919 C36.8209437,22.7690167 34.0500824,25.5481497 31.4871722,26.8698054 C31.5439162,27.3763656 31.5128146,27.8981458 31.3865881,28.4197606 C31.0893024,29.6459606 29.9673261,33.685704 28.0107331,34.1851505 C27.8924475,34.2155904 27.7579493,34.2359389 27.6108781,34.2359389" id="Butterfly"></path>
              </g>
            </g>
          </svg>
	      </div>
      </a>
      <div class="nav-header">Butterfly Inc.</div>
    </div>

    <div id="poll">
      <form id="poll-form" method="post">

        <div id="mood-picker">
          <div class="mood-picker<%= v === 0 ? '' : ' hidden' %>">
            <p class="statement">Did you make a mistake? Please select your correct mood:</p>
            <div class="row-flex">
              <div><a href="?v=5" class="mood-image mood-very-happy"></a></div>
              <div><a href="?v=4" class="mood-image mood-happy"></a></div>
              <div><a href="?v=3" class="mood-image mood-neutral"></a></div>
              <div><a href="?v=2" class="mood-image mood-unhappy"></a></div>
              <div><a href="?v=1" class="mood-image mood-very-unhappy"></a></div>
            </div>
          </div>
          <% if (v > 0) { %>
          <div class="mood">
            <div>
              <a href="?v=0" class="mood-edit"></a>
            </div>
            <% if (v === 1) { %>
            <div class="mood-icon mood-image mood-very-unhappy"></div>
            <p class="statement inverse">Oops</p>
            <% } else if (v === 2) { %>
            <div class="mood-icon mood-image mood-unhappy"></div>
            <p class="statement inverse">Mmmmh...</p>
            <% } else if (v === 3) { %>
            <div class="mood-icon mood-image mood-neutral"></div>
            <p class="statement inverse">OK</p>
            <% } else if (v === 4) { %>
            <div class="mood-icon mood-image mood-happy"></div>
            <p class="statement inverse">Great</p>
            <% } else if (v === 5) { %>
            <div class="mood-icon mood-image mood-very-happy"></div>
            <p class="statement inverse">Awesome!</p>
            <% } %>
            <p class="text-notice">THANK YOU FOR YOUR FEEDBACK</p>
          </div>
          <% } %>
          <div class="tooltip tooltip-bottom">
            <i class="arrow"></i>
            <span>Your answers will always remain anonymous</span>
          </div>
        </div>

        <div class="form">
          <div class="poll-questions">
	          <p class="statement">Do you agree with the following statements:</p>
            <% statements.forEach(function (statement) { %>
              <%- include('_question', {data: statement}) %>
            <% }) %>

	          <div class="poll-question poll-question-text">
	            <p class="statement">Anything to add?</p>	
	            <textarea name="extra_comment" rows="4" placeholder="This is where you can express yourself freely & Your answers will always remain anonymous."></textarea>
            </div>
          </div>
          <button type="submit" class="submit" disabled>Send &nbsp; &rarr;</button>
        </div>
      </form>
    </div>

    <div id="footer">
      <p>Butterfly. Your teams happiness Manager
        <br>&copy;2016 AnonyMessenger, Inc</p>

      <p><a href="https://butterfly.ai">butterfly.ai</a></p>
    </div>
  </div>

  <script src="/assets/js/underscore-min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
  <script src="/assets/js/backbone-min.js"></script>
  <script src="/assets/js/script.js"></script>

</body>
</html>
